{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}

<form action="{{ path('ajout_image') }}" name = "new_recette" method="post" enctype="multipart/form-data">
<input id="new_recette_image" name="new_recette[image]" required="required" type="file">



  <button type="submit" id="submit" name="submit">create</button>
</form>



{% endblock %}



{% block javascripts %}{{ parent() }}{% endblock %}

